body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #202124;
}

h3 {
  font-size: 20px;
}

hr {
  border: 1px solid #0b5ec6;
  margin-bottom: 20px;
}

.mainContent {
  margin: 20px;
  padding: 10px 30px 30px 30px;
  min-width: 300px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: #292a2d;
  color: white;
}

button {
  padding: 8px 15px;
  border: 1px solid #0b5ec6;
  background-color: #292a2d;
  color: #0b5ec6;
  border-radius: 5px;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #151517;
}

input[type='text'],
input[type='number'],
input[type='date'] {
  background-color: #151517;
  color: #a9aaab;
  border: none;
  padding: 5px;
}

.form-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 3px;
}

.form-row > div {
  width: 100%;
}

.form-row > div > input {
  width: 100%;
  font-size: 16px;
}

#saveSuccess {
  color: green;
  margin-left: 15px;
  display: none;
}

.specialDayRow {
  display: flex;
  gap: 10px;
}

.specialDayRow > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.saveButton {
  margin-top: 20px;
}

.layout {
  margin: auto;
  display: flex;
}

.layout-off {
  box-sizing: border-box;
  padding: 20px;
}

.layout-off > .mainContent {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ccc;
  background-color: #19191b;
  padding: 10px;
}

th:first-child {
  width: 10%;
}

td {
  text-align: center;
  padding: 3px;
}

td:last-child {
  text-align: end;
}

tr:nth-child(odd) {
  background-color: #010914;
}

.deleteEntryButton {
  color: white;
}
