body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.mainContent {
  width: fit-content;
  margin: auto;
}

#totalTime {
  padding: 10px;
  text-align: center;
}

button {
  margin: 2px;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

button:hover {
  background-color: #f44336;
  color: white;
}

.workTime-good {
  background-color: #339900;
  color: white;
}

.workTime-bad {
  background-color: #d71921;
  color: white;
}
